body {
  margin: 0;
  font-family: 'Comic Sans MS';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

textarea,
input {
  font-family: 'Comic Sans MS';
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
}